HELP.md
logs/**
target/
pg-data
src/main/resources/static/images
!src/main/resources/static/images/background.png
!src/main/resources/static/images/InitBooks
!src/main/resources/static/images/InitElectronics
!src/main/resources/static/images/InitStationery
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
